.hnrt-popup{
    width: 320px;
    
    #filter-reset{
        text-decoration: underline;

        &:hover{
            cursor: pointer;
        }
    }

    .hnrt-legend{
        font-size: 0.8rem;
    }
}
